//
// Navigation bar
//
.navbar {
    margin-top: $indent-l ;
    margin-bottom: calc( #{$indent-m} * 2);

    .custom-toggler{
        &.navbar-toggler {
            border-color: $white;
        }

        .navbar-toggler-icon {
            background-image: url(
                "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"
            );
        }
    }

    .nav-item {
        display: flex;

        .nav-link {
            align-self: center;
        }
    }

    &.navbar-inverse {
        .navbar-brand:hover {
            color: inherit;
        }
    }

    .dropdown-menu{
        background: $item-background-color;
        border-radius: 20px;
        margin-top: $indent-s;

        .dropdown-item {
            color: $white;
            background-color: transparent;

            &:hover {
                background-color: transparent;
                color: $black;
            }
        }
    }

    h1 {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .nav-item.dropdown {
        flex-direction: column;

        #navbarDropdown {
            align-self: flex-start;

            .dropdown-menu {
                border-radius: 3px;
            }
        }
    }
}

@media (min-width: 768px) {
    .current_page_item {
        border: 2px solid $border-color;
        border-radius: 15px;

        &:hover {
            border-color: $black;
        }
    }

    .nav-item {
        background: $item-background-color;
        border-radius: 20px;
        padding-left: $indent-s;
        padding-right: $indent-s;

        &:not(:first-child) {
            margin-left: 2rem;
        }
    }
}

//
// Cards
//
.card{
    background: $item-background-color;

    .card-header {
        background-color: $item-background-color-titel;
    }
}

//
// Jumbotron
//
.jumbotron {
    background: $item-background-color;
}

//
// paginaton
//
.custom-pagination {
    display: block;
    justify-content: center;
}

//
// change boostrap container width for big screens
//
@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1200px!important;
    }
}

@media (min-width: 1400px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1400px!important;
    }
}

//
// body
//
.body {
    background: linear-gradient(166deg, rgba(240,95,87,1) 0%, rgba(124,41,73,1) 100%) no-repeat center center fixed;-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;

    a {
        color:$white;

        &:hover {
            color: $black;//#f0bab7
        }
    }
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
}

//
// buttons
//
.fabutton {
    background: none;
    padding: 0px;
    border: none;
    color: $white;

    &:hover {
        color: $black;
    }
}

.btn.theme-button {
    background-color: $item-background-color-titel;
    border: 1px solid $border-theme-color;
    color: $white;

    &:hover {
        background-color: $theme-colors-red-light;
        color: $black;
    }
}

//
// footer
//
.footer-container {
    margin-top: auto;
    margin-bottom: calc( #{$indent-m} * 2);
    padding-top: $indent-l;

    .footer {
        margin-left: auto;
        margin-right: auto;

        .copyright {
            text-align: center;
            margin-top: $indent-l;
        }

        .footer-social-media {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a:hover > i {
                border-color: $black;
            }

            > div {
                min-width: 70px;
                text-align: center;

                i {
                    font-size: 2em;
                    border: 2px solid $white;
                    border-radius: 50%;
                    padding: 15px;
                    width: 100%;
                }
            }
        }
    }
}



