// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$item-background-color: linear-gradient(166deg, rgb(249, 95, 87) 0%, rgb(168, 88, 119) 100%) no-repeat center center fixed;
$item-background-color-titel: #aa0126;
$border-theme-color: #ad404f;

$theme-colors-red-light: #ce6870;

// indenting
$indent-xs: 5px;
$indent-s: 10px;
$indent-m: 25px;
$indent-l: 30px;
$indent-xl: 40px;
$indent-base: 20px;

