// Variables
@import '../variables';
@import '~bootstrap/scss/bootstrap';

.edit-title,
.edit-fields {
    padding: $indent-base $indent-m;
}

.edit-title {
    background-color: $item-background-color-titel;
    font-weight: $font-weight-bolder;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.edit-fields {
    background: $item-background-color;
    border: 1px solid $border-theme-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.comments,
.posts {
    border: 1px solid $border-theme-color;
    border-radius: 3px;
    margin-bottom: $indent-l;
    background: $item-background-color;

    .comment,
    .post {
        display: flex;
        padding: $indent-xs;
        text-decoration: none;

        &:hover {
            color: inherit;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $border-theme-color;
        }

        .post-button {
            display: flex;
            justify-content: center;
        }

        & div {
            align-self: center;
        }

        > div:first-child {
            display: flex;

            .fas {
                align-self: center;
                margin-right: $indent-base;
            }
        }

        &:first-child{
            background-color: $item-background-color-titel;
            font-weight: $font-weight-bolder;
        }
    }
}

.posts {
    margin-bottom: $indent-l;
}

.comments-container {
    margin-top: $indent-s;

    .comments {
        margin-bottom: $indent-base;
    }
}

.titel-container {
    margin-bottom: $indent-l;

    .col-md-12 {
        display: flex;
        justify-content: space-between;

        .page-titel h1{
            margin-bottom: 0;
        }

        .create-post span {
            font-size: $font-size-base;
            align-items: center;
            display: inline-flex;
        }
    }
}
.post-page .short-description {
    padding: $indent-s $indent-base;
}

// smaller devices
@media (max-width: 991.98px) {
    .posts .post {
        flex-wrap: wrap;

        .short-description {
            margin-top: $indent-s;
            margin-bottom: $indent-s;
            order: 2;
        }

        .post-button {
            margin: $indent-s 0;
            order: 1;
        }

        .post-title {
            order: 0;
        }
    }

    .titel-container .col-md-12 {
        & > div {
            display: flex;
            align-self: center;
        }

        .create-post {
            margin-left: $indent-l;
        }
    }
}

